<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LION</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Pathway+Gothic+One"/>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/lion.css"/>
  </head>
  <body ng-app="Lion">
    <div class="lion-nav">
      <div class="lion-icon">
        <img src="/img/lion.png"/>
      </div>
      <div class="lion-icon-text">Lion</div>
    </div>
    <div class="lion-full-text">
      <div class="bar"></div>
      Like it<br>
      -or-<br>
      not
      <div class="bar reverse"></div>
    </div>
    <div ng-view></div>
  </body>
</html>
