<div class="lion-pic-frame">
  <div class="lion-pic">
    <img ng-src={{pic.link}}/>
  </div>
  <div class="lion-pic-info">
    <div class="lion-pic-icon">
      <span>{{pic.owner}}</span>
    </div>
    <div class="lion-pic-icon" id="likes">
      <i id="lion-heart"
      ng-class="{'ion-ios-heart-outline':!is_liked(pic._id),unliked:!is_liked(pic._id),'ion-ios-heart':is_liked(pic._id),liked:is_liked(pic._id)}"
      ng-click="like_toggle(pic,$index)">
      </i>&nbsp;<span style="font-size:1em;">{{pic.likes}}</span>
    </div>
  </div>
</div>
